/* Update App.css: 
Add basic styles to make the app visually appealing: 
1 
○ Center the content. 
○ Style the list items with custom bullet points or spacing. 
○ Add padding and margins to create a clean layout.  */

.container {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Segoe UI Rounded", "Segoe UI", sans-serif;
  background-color: #CCCCFF;
  color: #4A4A4A;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  padding: 40px 60px;
}

h1 {
  color: #3B1E54;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

li {
  margin: 10px;
}

li:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #3B1E54;
}